@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif
}

p {
  margin: 0%
}

.sidebar{
  margin-top: 20px;
  margin-right: 5px;
  width: 300px;
  background-color: #441078;
  border: 2px solid goldenrod;
  border-radius: 10px;
}

.level{
  display: flex;
  justify-content: space-around;
  color: goldenrod;
  background-color: #441078;
  font-size: large;
  font-weight: bold;
}

.levels{
  border-top: 2px solid goldenrod;
}

.lifelines{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.lifeline{
  margin: 10px;
  width: 40px;
  height: fit-content;
}

.holder {
  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: space-between;
  height: 670px;
}

.container {
  padding: 70px 85px;
  height: 100%;
  width: auto;
  border-radius: 4%;

}

.ABCD {
  margin-right: 2px;
  color: goldenrod;
}


label.box {
  display: flex;
  margin-top: 10px;
  padding: 10px 12px;
  cursor: pointer;
  border: 1px solid goldenrod;
  background-color: #441078;
  border-radius: 15px;
}

.userInfo{
  background-color: #441078;
  border: 2px solid goldenrod;
  border-radius: 20px;
  padding: 10px;
  font-size: large;
  color: #ddd;
  display: flex;
  justify-content: space-between;
}

p.question {
  display: flex;
  margin-top: 10px;
  padding: 10px 12px;
  border-radius: 15px;
  cursor: pointer;
  color: #ddd;
  border: 1px solid goldenrod;
  background-color: #441078;
}

#one:checked~label.one,
#two:checked~label.two,
#three:checked~label.three,
#four:checked~label.four {
  border: 3px solid rgb(172, 147, 0);
  background: #29044d;
}



label.box:hover {
  background: #29044d;
}


label.box .course {
  display: flex;
  align-items: center;
  width: 100%;
}


input[type="radio"] {
  display: none
}

.btn.btn-primary {
  border-radius: 25px;
  margin-top: 20px;
  background-color: #e500fe;
}

@media(max-width: 450px) {
  .subject {
    font-size: 12px
  }
}